{% extends "base.html" %}
{% load like_utils %}
{% block content %}
    <div class="col-sm-12">
        <h3>Create New post</h3>
        <form action="{% url 'home:create_post' %}" method="POST" id="post-form" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% include 'form-field-horizontal.html' with field=form.title %}
            {% include 'form-field-horizontal.html' with field=form.description %}
            {% include 'form-field-horizontal.html' with field=form.image %}
            <input type="submit" name="Post" class="btn btn-primary" style="width:100%;">
        </form>
    </div>
    <br>
    <hr>
    <h1>Posts</h1>
    {% for post in object_list %}
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">{{ post.title }}</div>
                <div class="panel-body">
                    <p>Posted by : {{ post.author.username }}</p>
                    <p>{{ post.description }}</p>
                    {% if post.image %}
                        <img src="{{post.image.url}}" width="250" height="250" class="img-responsive">
                    {% endif %}
                    {% if user_likes_post %}
                        <button class="btn btn-default like" data-pk="{{ post.pk }}">Unlike</button>
                    {% else %}
                        <button class="btn btn-default like" data-pk="{{ post.pk }}">Like</button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $('.like').on('click', function (data) {
            var that = this;
            var pk = this.dataset.pk;
            console.log('Post id '+pk);
            var params = {};
            params['post_id'] = pk;
            $.get('/api/like/', params, function (response) {
                console.log(response);
                if (response.status == 'liked') {
                    console.log(that);
                    console.log('liked, updating text');
                    that.innerText = 'Unlike';
                }
                else if (response.status == 'unliked') {
                    console.log(that);
                    console.log('unliked, updating text');
                    that.innerText = 'Like';
                }
            });

        });

    </script>
    
{% endblock scripts %}